<!DOCTYPE>
{% load crispy_forms_tags %}
<HTML>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title> Sign Up</title>
</head>
<body>
<h1>This is the Page For Sign Up Process.</h1>

<form method="POST">
    {% csrf_token %}   <!-- Cross Site Request Forgery    Mandatory-->
    {{ form|crispy }}
    <input type="submit" value="submit">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</HTML>